/* NAVIGATION BAR */
#navbar{
    flex-direction: column;
    justify-content: center;
    align-items: center
}
#navbar ul li a{
    font-size: 1rem;
}
/* HOME SECTION */
#home{
    height: 300px;
    padding: 3px 60px;
}
#home::before{
    height: 450px;
}
#home p{
    font-size: 0.7rem;
}
/* SERVICE SECTION */
#services{
    flex-direction: column;
}
#services .box img {
    height: 100px;
    display: block;
    margin: auto;
}
/* CLIENT SECTION */
#clients{
    flex-wrap: wrap;
}
#client-section{
    height: 450px;
}
.client-item{
    padding: 15px;
}
/* CONTACT-US SECTION */
#contact-box form{
    width: 80px;
}
/* UTILITY CLASSES */
.h-primary{
    font-size: 1.2rem;
}
.btn{
    font-size: 1rem;
    padding: 4px 8px;
}
/* FOOTER */